# --- Email Bridge (Gratuit & Web-compatible) ---
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbyFui6QNxtBDIp3OIq8sy5UnA5YxvR-rFG0VO7LrbSQGsM93RLjX1kq4vAMzP6ksyKddg/exec
CLOUDINARY_CLOUD_NAME=dt0swlkte
CLOUDINARY_UPLOAD_PRESET=services_app_preset
MAPBOX_ACCESS_TOKEN=pk.eyJ1IjoiYW1pbmVlbGJpeWFkaSIsImEiOiJjbW4xcjZ3N3Iwdnh0MzJzOTltamQwajZ5In0.7XFlqqLO-vBeZgXMItsz4w
